.hero {

    min-height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px;
}

.hero-tag {

    display: flex;
    align-items: center;
    gap: 10px;

    background: rgba(255, 255, 255, .06);

    padding: 10px 18px;

    border: 1px solid rgba(255, 255, 255, .1);

    border-radius: 999px;

    color: #FFD54F;

    margin-bottom: 30px;

    font-weight: 600;

    backdrop-filter: blur(8px);
}

.hero h1 {

    font-size: 76px;

    font-weight: 800;

    line-height: 1.05;

    letter-spacing: -2px;

    max-width: 950px;
}

.hero h1 span {
    display: block;

    background: linear-gradient(
        90deg,
        #8B5CF6,
        #06B6D4
    );

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

.hero p {

    margin-top: 35px;

    max-width: 700px;

    font-size: 22px;

    color: #B7BECF;

    line-height: 1.7;
}

.hero-buttons {

    display: flex;

    gap: 25px;

    margin-top: 50px;
}

.primary-btn {

    background: linear-gradient(135deg,
            #8B5CF6,
            #6366F1);

    color: white;

    border: none;

    padding: 18px 38px;

    border-radius: 14px;

    cursor: pointer;

    font-size: 18px;

    font-weight: 600;

    transition: all .35s ease;

    box-shadow:
        0 0 25px rgba(139, 92, 246, .35);
}

.secondary-btn{

    background:transparent;

    border:1px solid rgba(255,255,255,.2);

    color:white;

    padding:18px 38px;

    border-radius:14px;

    cursor:pointer;

    font-size:18px;

    transition:all .35s ease;

    backdrop-filter:blur(8px);
}

.secondary-btn:hover{

    background:rgba(255,255,255,.08);

    transform:translateY(-5px);
}

.primary-btn:hover {

    transform: translateY(-5px) scale(1.03);

    box-shadow: 0 15px 35px rgba(139, 92, 246, .45);
}
